@model Ticket

<div class="col-md-4">
    <div class="card mb-3">
        <img src="~/img/@Model.ImageUrl" alt="To: @Model.To From: @Model.From" />
        <div class="card-body">
            <h4 class="card-title">
                <small>From: @Model.From</small>

            </h4>
            <h4 class="card-title">
                <small>To: @Model.To</small>

            </h4>
            <h6 >
                <small class="text-muted">@Html.Raw(@Model.Description)</small>

            </h6>
            <small class="text-muted">
                <i class="fas fa-lira-sign"></i> @Model.Price
            </small>
        </div>
        <div class="card-footer text-center">
            <a asp-controller="Shop" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-outline-primary btn-sm">Details</a>
            @if (User.Identity.IsAuthenticated)
            {
                <form asp-controller="Cart" asp-action="AddToCart" method="post" style="display:inline;">
                    <input type="hidden" name="ticketId" value="@Model.Id" />
                    <input type="hidden" name="quantity" value="1" />
                    <button type="submit" class="btn btn-outline-primary btn-sm ml-3">Add Reservation</button>
                </form>
            }


        </div>
    </div>
</div>
